<md-content layout-padding="" ng-controller="LeftCtrl">
    <div layout="column">
        <!--<a class="md-button md-primary" href="#/intro" ng-click="close()">Introduction</a>-->
        <a class="md-button md-primary" href="#!/convert" ng-click="close()">Polynomial representation</a>
        <a class="md-button md-primary" href="#!/view1" ng-click="close()">Polynomial arithmetic</a>
        <a class="md-button md-primary" href="#!/view2" ng-click="close()">Multiplicative Inverse ` GF(2^n) ` </a>
        <a class="md-button md-primary" href="#!/sbox" ng-click="close()">AES S-Box Derivation</a>
    </div>
</md-content>